
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="landing-styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

</head>
<body>
    <header><a href ="<%=url%>"><button class="logo">NONOGRAMS!</button></a></header>

    <div class="landing-container">
        <div><h2>LET'S &nbsp; &nbsp;<span class="play">PLAY</span> </h2></div>
        <div><h1>NONOGRAMS!</h1></div>
        <div><a href="<%=url%>/sizing"><button>Make your own nonogram ▶</button></a></div>
        <div><a href="<%=url%>/all-art"><button>Look at what we have ▶</button></a></div>
    </div>

</body>
</html>