<form action="/make-art" method="post">
    <label for="x">Width:</label><br>

    <input type="number" name="x" id="x" value="10" required>
    <br>

    <label for="x">Height:</label><br>

    <input type="number" name="y" id="y" value="10" required>

    <input type="submit" value="submit"/>

</form>