<form action="/submit" method="post">
    <input type="hidden" name="0-0" value="black">
    <input type="hidden" name="0-1" value="white">
    <input type="hidden" name="1-0" value="white">
    <input type="hidden" name="1-1" value="black">
    <input type="submit" value="Submit">

</form>